In [1]:
import pandas as pd

In [5]:
data = pd.read_csv("weather_data.csv")
data

,city,lat_long,latitude,longitude,temperature,humidity,cloudiness,wind_speed,country,timezone,Hemisphere
0,mataura,"(-68.50616938544948, -150.37774696327926)",-68.506169,-150.377747,52.48,87.0,100.0,5.39,JP,46800,Southern
1,rikitea,"(-30.681296696126786, -126.3156960749132)",-30.681297,-126.315696,79.88,75.0,100.0,18.32,JP,-32400,Southern
2,bastrop,"(32.77746126426588, -91.42701947008482)",32.777461,-91.427019,56.26,79.0,100.0,1.01,JP,-18000,Northern
3,hobart,"(-76.49871141133052, 152.14258100215392)",-76.498711,152.142581,65.30,94.0,75.0,8.05,JP,39600,Southern
4,pacific grove,"(26.160659046051506, -137.22124631442136)",26.160659,-137.221246,55.09,74.0,75.0,4.61,JP,-25200,Northern
...,...,...,...,...,...,...,...,...,...,...,...
583,ramona,"(33.186424435561705, -116.62408876317744)",33.186424,-116.624089,53.62,76.0,0.0,0.00,JP,-25200,Northern
584,tura,"(66.23404218169031, 99.14212871649107)",66.234042,99.142129,92.95,12.0,0.0,5.50,JP,19800,Northern
585,witu,"(-2.2018672667641113, 39.40775744690046)",-2.201867,39.407757,78.49,76.0,99.0,2.53,JP,10800,Southern
586,misratah,"(33.49204569393403, 16.076769507459915)",33.492046,16.076770,57.85,72.0,0.0,15.70,JP,7200,Northern
587,sagae,"(38.49539303608708, 140.1829270099998)",38.495393,140.182927,48.18,76.0,75.0,11.50,JP,32400,Northern

In [6]:
data.to_html('cities.html')